body {
  width: 100%;
  background-color: white;
  position: relative;
  height: 100%;
  font-family: 'Poppins', sans-serif;

  #home {
    width: 100%;
    padding-bottom: 54%;
    position: relative;
    background-color: black;
  }

  #snippet {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 20%;
  }

  #name {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    border: 8px solid white;
    padding: 5% 0 5% 0;
    font-size: 5em;
    display: inline-block;
  }

 #title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color: white;
    font-size: 2em;
    padding: 1% 0 0 0;
  }

  #icons {
    position: absolute;
    width: 50%;
    height: 30%;
    left: 25%;
    bottom: 10%;
    color: white;
  }

  .user {
    width: 20%;
    height: 40%;
    position: absolute;
    display: block;
    left: -3%;
  }

  .briefcase {
    width: 20%;
    height: 40%;
    position: absolute;
    display: block;
    left: 14.3%;
  }

  .education {
    width: 20%;
    height: 40%;
    position: absolute;
    display: block;
    left: 28.6%;
  }

  .folder {
    width: 20%;
    height: 40%;
    position: absolute;
    display: block;
    left: 42.9%;
  }

  .github {
    width: 30%;
    height: 40%;
    position: absolute;
    display: block;
    left: 63.2%;
  }

  .github .label {
    display: block;
    font-size: 1.3em;
    text-align: left;
    margin-left: -2.5%;
    padding-bottom: 50%;
    position: absolute;
    top: 69%;
  }

  .linkedin {
    width: 20%;
    height: 40%;
    position: absolute;
    display: block;
    margin: .5% 0 0 0;
    left: 77.5%;
  }

  .linkedin .label {
    display: block;
    font-size: 1.3em;
    text-align: left;
    margin-left: -7%;
    position: absolute;
    top: 64%;
  }

  .comment {
    width: 20%;
    height: 40%;
    position: absolute;
    display: block;
    left: 84.8%;
  }

  div .glyphicon{
    width: 100%;
    text-align: center;
    font-size: 5em;
  }

  .label {
    display: block;
    font-size: 30%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

  .descrip {
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
    top: 40%;
  }

  #nav {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 1% 0 0 0;
  }

  ul  {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 25%;
  }

  li {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    float: left;
    width: 10%;
  }

  li img {
    max-width: 50%;
    padding-bottom: 20px;
  }

  #git {
    margin-top: -1.5px;
    width: 8%;
  }

  #linkedin {
    max-width: 60%;
    margin-top: 1px;
  }

  #applications a img {
    max-width: 33%;
  }
}