body {
  width: 100%;
  background-color: white;
  position: relative;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: scroll;

  #home {
    width: 100%;
    padding-bottom: 54%;
    position: relative;
    background-color: black;
  }

  #snippet {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 20%;
  }

  #name {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    border: 8px solid white;
    padding: 5% 0 5% 0;
    font-size: 5em;
    display: inline-block;
  }

 #title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 55.5%;
    color: white;
    font-size: 2em;
    padding: 1% 0 0 0;
  }

  #icons {
    position: absolute;
    width: 50%;
    height: 30%;
    left: 25%;
    bottom: 10%;
    color: white;
  }

  a {
    color: inherit;
  }

  .user {
    width: 20%;
    height: 40%;
    position: absolute;
    display: block;
    left: -3%;
  }

  .briefcase {
    width: 20%;
    height: 40%;
    position: absolute;
    display: block;
    left: 14.3%;
  }

  .education {
    width: 20%;
    height: 40%;
    position: absolute;
    display: block;
    left: 29.5%;
  }

  .paperclip {
    width: 20%;
    height: 40%;
    position: absolute;
    display: block;
    left: 42.9%;
  }

  .github {
    width: 25%;
    height: 37%;
    position: absolute;
    display: block;
    left: 63.2%;
  }

  .github .label {
    display: block;
    font-size: 1.3em;
    text-align: left;
    margin-left: -2.5%;
    padding-bottom: 50%;
    position: absolute;
    top: 67%;
  }

  .linkedin {
    width: 20%;
    height: 37.5%;
    position: absolute;
    display: block;
    margin: .5% 0 0 0;
    left: 77.5%;
  }

  .linkedin .label {
    display: block;
    font-size: 1.3em;
    text-align: left;
    margin-left: -7%;
    position: absolute;
    top: 62%;
  }

  .comment {
    width: 20%;
    height: 40%;
    position: absolute;
    display: block;
    left: 84.8%;
  }

  div .glyphicon{
    width: 100%;
    text-align: center;
    font-size: 5em;
  }

  .label {
    display: block;
    font-size: 30%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }

  .descrip {
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
    top: 40%;
  }

  #interests {
    width: 100%;
    position: relative;
    padding-bottom: 50%;
    text-align: center;
    font-size: 4em;
    padding-top: 4%;
  }

  .logo {
    position: absolute;
    width: 24%;
    padding-bottom: 30%;
    top: 20%;
    left: 5%;
  }

  .logo img {
    max-width: 20%;
    position: absolute;
    right: 40%;
  }

  .logo h4 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 17%;
    font-size: .6em;
  }

  .logo p {
    width: 80%;
    position: absolute;
    text-align: center;
    font-size: .4em;
    left: 10%;
    top: 32%;
  }

  .logo2 {
    position: absolute;
    width: 24%;
    padding-bottom: 30%;
    top: 20%;
    left: 27%;
  }

  .logo2 img {
    max-width: 19%;
    position: absolute;
    right: 40%;
    top: -2%;
  }

  .logo2 h4 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 17%;
    font-size: .6em;
  }

  .logo2 p {
    width: 80%;
    position: absolute;
    text-align: center;
    font-size: .4em;
    left: 10%;
    top: 32%;
  }

  .logo3 {
    position: absolute;
    width: 24%;
    padding-bottom: 30%;
    top: 20%;
    left: 49%;
  }

  .logo3 img {
    max-width: 26%;
    position: absolute;
    right: 37%;
    top: 1%;
  }

  .logo3 h4 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 17%;
    font-size: .6em;
  }

  .logo3 p {
    width: 80%;
    position: absolute;
    text-align: center;
    font-size: .4em;
    left: 10%;
    top: 32%;
  }

  .logo4 {
    position: absolute;
    width: 24%;
    padding-bottom: 30%;
    top: 20%;
    right: 5%;
  }

  .logo4 img {
    max-width: 17%;
    position: absolute;
    right: 41.5%;
  }

  .logo4 h4 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 17%;
    font-size: .6em;
  }

  .logo4 p {
    width: 80%;
    position: absolute;
    text-align: center;
    font-size: .4em;
    left: 10%;
    top: 32%;
  }

  #future {
    font-size: .5em;
    width: 40%;
    position: absolute;
    bottom: 35%;
    left: 30%;
    text-align: center;
  }

  .logo5 {
    position: absolute;
    width: 24%;
    padding-bottom: 30%;
    top: 75%;
    left: 27%;
  }

  .logo5 img {
    max-width: 17%;
    position: absolute;
    right: 41.5%;
  }

  .logo5 h4 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 17%;
    font-size: .6em;
  }

  .logo6 {
    position: absolute;
    width: 24%;
    padding-bottom: 30%;
    top: 75%;
    right: 27%;
  }

  .logo6 img {
    max-width: 17%;
    position: absolute;
    right: 41.5%;
  }

  .logo6 h4 {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 17%;
    font-size: .6em;
  }

  #me {
    width: 100%;
    text-align: center;
    background-color: grey;
    overflow: hidden;
  }

  #me img {
    float: left;
  }

  #me p {
    width: 40%;
    left: 30%;
    position: relative;
    margin-bottom: -.1%;
    padding-bottom: 20%;
  }

  #applications {
    width: 100%;
    padding-top: 3%;
    background-color: orange;
    text-align: center;
  }

  #applications p {
    width: 40%;
    left: 30%;
    position: relative;
    margin-bottom: -.1%;
    padding-bottom: 3%;
  }

  #applications a img {
    max-width: 33%;
  }

  #skills {
    width: 100%;
    text-align: center;
    background-color: tan;
    height: 200px;
    position: absolute;
  }

  #abilities {
    display: inline-block;
    width: 30%;
    left: 25%;
    position: absolute;
    top: 25%;
  }

  #technologies {
    display: inline-block;
    width: 10%;
    position: absolute;
    top: 25%;
  }

  #contact {
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: -2%;
    top: 200px;
    background-color: lightblue;
  }
}